@model IEnumerable<CoffeeHour.Models.GuestResponse>

@{
    ViewBag.Title = "title";
    
}

<h2>Here is the list of people attending the party</h2>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    @foreach (CoffeeHour.Models.GuestResponse xResponse in Model)
    {
        <tr>
            <td>@xResponse.Name</td>
            <td>@xResponse.Email</td>
            <td>@xResponse.Phone</td>
        </tr>
    }
    </tbody>
</table>